@using Topodata2.Models.Shared
@model Topodata2.Models.Home.FlipboardViewModel
<h2 class="heading-md">Eliminar Revista</h2>
<br>
@{ Html.RenderPartial("BTable/_BTableHtmlCode", new BTableModel
   {
       IdTable = "allFlipboardTable",
       DetailFormatter = true,
       ColumData = new Dictionary<string, string>
       {
           {"Name", "Nombre"},
           {"RegDate", "Fecha de Registro"},
       },
       CustomColumData = new Dictionary<string, string>
       {
           {"getFlipboardLink", "Abrir"}
       }
   }); }