@model Topodata2.Models.Home.FlipboardViewModel
<div class="tab-v1">
    <ul class="nav nav-justified nav-tabs">
        <li><a data-toggle="tab" href="#add">Añadir Revista</a></li>
        @*<li><a data-toggle="tab" href="#edit">Editar Equipo</a></li>*@
        <li><a data-toggle="tab" href="#delete">Borrar Revista</a></li>
    </ul>
    <div class="tab-content">
        @{Html.RenderPartial("Flipboard/_AddFlipboard", Model, ViewData);}
        @{Html.RenderPartial("Flipboard/_DeleteFlipboard", Model, ViewData);}
    </div>
</div>