@using Topodata2.Models.Service
@model List<Topodata2.Models.CategorieModel>
<li class="dropdown">
    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Servicios</a>
    <ul class="dropdown-menu">
        @foreach (var categorieModel in Model)
        {
            <li class="dropdown-submenu">
                <a href="javascript:void(0);">@categorieModel.Descripcion</a>
                <ul class="dropdown-menu">
                    @foreach (var subCategorie in categorieModel.SubCategories)
                    {
                        <li>
                            @Html.ActionLink(subCategorie.Descripcion, "Contenido", "Services", new {id = subCategorie.Id}, null)
                        </li>
                    }
                </ul>
            </li>
        }

    </ul>
</li>
