@using Topodata2.Models.Shared
<h2 class="heading-md">Todos los Sectores</h2>
<br>
@{ Html.RenderPartial("BTable/_BTableHtmlCode", new BTableModel
    {
        IdTable = "allSectoresTable",
        DetailFormatter = false,
        ColumData = new Dictionary<string, string>
       {
           {"Descripcion", "Nombre"},
       },
        CustomColumData = new Dictionary<string, string>()
    }); }