<div class="tab-v1">
    <ul class="nav nav-justified nav-tabs">
        <li><a data-toggle="tab" href="#addVideo">Añadir Video</a></li>
    </ul>
    <div class="tab-content">
        @{ Html.RenderPartial("HomeSlide/_AddHomeSlideVideo");}
    </div>
</div>
