@using Topodata2.Classes
@model Topodata2.Models.Home.HomeSlideVideoViewModel
@{
    ViewBag.Title = "HomeSlide";
    Model.UrlVideo = Youtube.GetWatchFromId(Model.UrlVideo);
}
<div class="container content">
    @if (TempData["OperationStatus"] != null)
            {
                if (TempData["OperationStatus"].ToString() == "Error")
                {
                    Html.RenderPartial("_AlertError");
                }
                if (TempData["OperationStatus"].ToString() == "Success")
                {
                    Html.RenderPartial("_AlertSuccess");
                }
            }
    <div class="headline">
        <h2>Cambiar Video Slide</h2>
        @using (Html.BeginForm("HomeSlideVideo", "Administration", null, FormMethod.Post, new { @id = "sky-form3", @class = "sky-form" }))
        {
            <fieldset>
                <section>
                    <label class="label">@Html.DisplayNameFor(m => m.UrlVideo)</label>
                    <label class="input">
                        @Html.EditorFor(m => m.UrlVideo, new { htmlAttributes = new { @class = "form-control changeable" } })
                        @Html.ValidationMessageFor(m => m.UrlVideo, string.Empty, new { @class = "text-danger text-bold" })
                    </label>
                </section>
                <button id="resetProfile" type="reset" onclick="$(this).resetValidation()" class="btn-u btn-u-default reset-btn">Cancelar</button>
                <button id="submitButton" class="btn-u" style="opacity: 0.5" type="submit" disabled="">Guardar cambios</button>
            </fieldset>
        }
    </div>
</div>
@section cssPlugins{
    <link href="~/resources/plugins/sky-forms-pro/skyforms/css/sky-forms.css" rel="stylesheet" />
    <link href="~/resources/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css" rel="stylesheet" />
}

@section PageScripts{
    <script src="~/resources/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
    <script src="~/resources/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
}
@section documentReady{
    Validation.initValidation();
}
@section ScriptsFunction
{
    <script>
        $(document).ready(function() {
            var form = $('#sky-form3'),
                formData = $.data(form[0]),
                settings = formData.validator.settings,
                oldErrorPlacement = settings.errorPlacement,
                oldSuccess = settings.success;
            settings.errorPlacement = function(label, element) {
                oldErrorPlacement(label, element);
                label.parents('label').addClass('state-error');
                label.addClass('text-danger');
            };
            settings.success = function(label) {
                label.parents('label').removeClass('state-error');
                oldSuccess(label);
            };
        });
    </script>
    <script>
        (function($) {
            $.fn.resetValidation = function() {
                var $form = this.closest('form');
                $form.validate().resetForm();
                $form.find("[data-valmsg-summary=true]")
                    .removeClass("validation-summary-errors")
                    .addClass("validation-summary-valid")
                    .find("ul").empty();
                $form.find("[data-valmsg-replace]")
                    .removeClass("field-validation-error")
                    .addClass("field-validation-valid")
                    .empty();
                $form.find('label').removeClass('state-error');
                return $form;
            };
        })(jQuery);
    </script>
    <script>
        $('.changeable').on('input', function() {
            if ($(this).val()) {
                $("#submitButton").removeAttr('disabled');
                $("#submitButton").removeAttr('style');
            }
        });
        $(document).on("click", "button[type='reset']", function(e) {
            $("#submitButton").attr('disabled', "");
            $("#submitButton").attr('style', "opacity: 0.5");
        });
    </script>
}