@using Topodata2.Models
@{
    ViewBag.Title = "Home Slide";
}

<div class="container content profile">
    <div class="row">
        <div class="col-md-3 md-margin-bottom-40">
            @{
                Html.RenderPartial("_AdministrationLeftPanel");
            }
        </div>
        <div class="col-md-9" >
            <div id="operationStatus"></div>
            @if (TempData["OperationStatus"] != null)
            {
                if (TempData["OperationStatus"].ToString() == "Error")
                {
                    Html.RenderPartial("_AlertError");
                }
                if (TempData["OperationStatus"].ToString() == "Success")
                {
                    Html.RenderPartial("_AlertSuccess");
                }
            }
            <div class="profile-body margin-bottom-20" id="operationSection">
                @{Html.RenderPartial("HomeSlide/_HomeSlideBody");}
            </div>
        </div>
    </div>
</div>
@section cssPlugins
{
    <link href="~/resources/plugins/sky-forms-pro/skyforms/css/sky-forms.css" rel="stylesheet" />
    <link href="~/resources/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css" rel="stylesheet" />
    @*_AllDocuments Specific*@
    @{Html.RenderPartial("BTable/_BTableCssSrc");}
}
@section cssPageStyle
{
    <link href="~/resources/css/pages/profile.css" rel="stylesheet" />
}

@section PageScripts
{
    
    <script src="~/resources/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script src="~/resources/js/plugins/datepicker.js"></script>
    @{Html.RenderPartial("BTable/_BTableJsSrc");}
}
@section documentReady
{
    activaTab('addVideo');
    @*_AllDocuments Specific*@
    @*_AdministrationLeftPanel Specific*@
    Datepicker.initDatepicker();
}

@section ScriptsFunction
{
    <script>
        $(document).ready(function() {
            var form = $('#AddHomeSlideVideoForm'),
                formData = $.data(form[0]),
                settings = formData.validator.settings,
                oldErrorPlacement = settings.errorPlacement,
                oldSuccess = settings.success;
            settings.errorPlacement = function(label, element) {
                oldErrorPlacement(label, element);
                label.parents('label').addClass('state-error');
                label.addClass('text-danger');
            };
            settings.success = function(label) {
                label.parents('label').removeClass('state-error');
                oldSuccess(label);
            };
        });
    </script>
}