<div class="col-md-3 md-margin-bottom-40">
    <img src="~/resources/img/Defaults/defaultUser.png" alt="" class="img-responsive margin-bottom-20" />
    <ul id="sidebar-nav-1" class="nav list-group sidebar-nav-v1 margin-bottom-40">
        <li class="list-group-item">
            <a href="@Url.Action("ProfileSettings", "User")">
                <i class="fa fa-cog"></i>
                Configuración
            </a>
        </li>
    </ul>
    <form id="sky-form2" class="sky-form">
        <div id="inline-start">
        </div>
    </form>
</div>
