@model Topodata2.Models.User.UserProfileSettingsNotificationViewModel
<div id="settings" class="profile-edit tab-pane fade">
    <h2 class="heading-md">Notificaciones</h2>
    <p>Decide que notificaciones quieres recibir</p>
    <br>
    @using (Html.BeginForm("ProfileSettingsNotification", "User", FormMethod.Post, new {@class = "sky-form", @id = "sky-form3"}))
    {
        <label class="toggle">
            <input data-val="true"
                   id=@Html.IdFor(m => m.NewDocuments)
                   name="@Html.NameFor(m => m.NewDocuments)"
                   type="checkbox"
                   value="true"
                   @Html.Raw(Model.NewDocuments ? "checked" : "")/>
            <i class="no-rounded"></i>
            <input name="@Html.NameFor(m => m.NewDocuments)"
                   type="hidden"
                   value="false"/>

            @Html.DisplayNameFor(m => m.NewDocuments)
        </label>
        <hr/>
        <button class="btn-u" type="submit">Guardar cambios</button>
    }
</div>