
@{
    ViewBag.Title = "ProfileMain";
}

<div class="container content profile">
    <div class="row">
        @{
            Html.RenderPartial("_ProfileLeftPanel");
        }
        <div class="col-md-9"></div>
    </div>
</div>