@using Topodata2.Models.Shared
<ul class="nav nav-justified nav-tabs">
    <li><a data-toggle="tab" href="#addDocument">Añadir Documento</a></li>
    <li><a data-toggle="tab" href="#allDocument">Todos los Documentos</a></li>
</ul>
<div class="tab-content">
    <div id="addDocument" class="profile-edit tab-pane fade in active">
        @{ Html.RenderPartial("Documents/_AddDocument");}
    </div>
    <div id="allDocument" class="profile-edit tab-pane fade">
        @{Html.RenderPartial("Documents/_AllDocuments");}
    </div>
</div>