@using Topodata2.Models
@{
    ViewBag.Title = "Documentos";
}

<div class="container content profile">
    <div class="row">
        <div class="col-md-3 md-margin-bottom-40">
            @{
                Html.RenderPartial("_AdministrationLeftPanel");
            }
        </div>
        <div class="col-md-9" >
            <div id="operationStatus"></div>
            @if (TempData["OperationStatus"] != null)
            {
                if (TempData["OperationStatus"].ToString() == "Error")
                {
                    Html.RenderPartial("_AlertError");
                }
                if (TempData["OperationStatus"].ToString() == "Success")
                {
                    Html.RenderPartial("_AlertSuccess");
                }
            }
            <div class="profile-body margin-bottom-20" id="operationSection">
                @{Html.RenderPartial("Documents/_DocumentsBody");}
            </div>
        </div>
    </div>
</div>
@section cssPlugins
{
    <link href="~/resources/plugins/sky-forms-pro/skyforms/css/sky-forms.css" rel="stylesheet" />
    <link href="~/resources/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css" rel="stylesheet" />
    @*_AllDocuments Specific*@
    @{Html.RenderPartial("BTable/_BTableCssSrc");}
}
@section cssPageStyle
{
    <link href="~/resources/css/pages/profile.css" rel="stylesheet" />
}

@section PageScripts
{
    
    <script src="~/resources/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script src="~/resources/js/plugins/datepicker.js"></script>
    @{Html.RenderPartial("BTable/_BTableJsSrc");}
}
@section documentReady
{
    activaTab('addDocument');
    @*_AllDocuments Specific*@
    @*_AdministrationLeftPanel Specific*@
    Datepicker.initDatepicker();
}

@section ScriptsFunction
{
    @{ Html.RenderPartial("BTable/_BTableJsCode", new BTableModel
       {
           IdTable = "allDocumentsTable",
           UrlDeleteRecord = "/Administration/DeleteDocument/",
           IdOperationStatus = "operationStatus"
       }); }
    @{Html.RenderPartial("_LeftPanelJsCode");}
    <script language="javascript" type="text/javascript">
        function activaTab(tab) {
            $('.nav-tabs a[href="#' + tab + '"]').tab('show');
        };
        @*BTable Specific*@
        function detailFormatter(index, row) {
            return '<p><b>Descripcion:</b> ' + row.Descripcion + '</p>';
        }
    </script>
    <script language="javascript" type="text/javascript">
        function GetContenido(_subcategorieId) {
            var procemessage = "<option value='0'> Please wait...</option>";
            $("#idcontenido").html(procemessage).show();
            var url = "/Administration/GetContenidoBySubCategorie/";
            $.ajax({
                url: url,
                data: { subCategorie: _subcategorieId },
                cache: false,
                type: "POST",
                success: function(data) {
                    var markup = "<option value='' disabled selected hidden>Seleccionar Grupo</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                    }
                    $("#idcontenido").html(markup).show();
                },
                error: function(reponse) {
                    alert("error : " + reponse);
                }
            });

        }
    </script>
    <script type="text/javascript">
        window.addEventListener("load", function() {
            document.getElementById("subcategorielist").onchange();
        }, false);
    </script>
    <script>
        $(document).ready(function() {
            var form = $('#AddDocumentForm'),
                formData = $.data(form[0]),
                settings = formData.validator.settings,
                oldErrorPlacement = settings.errorPlacement,
                oldSuccess = settings.success;
            settings.errorPlacement = function(label, element) {
                oldErrorPlacement(label, element);
                label.parents('label').addClass('state-error');
                label.addClass('text-danger');
            };
            settings.success = function(label) {
                label.parents('label').removeClass('state-error');
                oldSuccess(label);
            };
        });
    </script>
}