@{
    ViewBag.Title = "Documentos";
}

<div class="container content profile">
    <div class="row">
        <div class="col-md-3 md-margin-bottom-40">
            @{
                Html.RenderPartial("_AdministrationLeftPanel");
            }
        </div>
        <div class="col-md-9">
            @if (TempData["OperationStatus"] != null)
            {
                if (TempData["OperationStatus"].ToString() == "Error")
                {
                    Html.RenderPartial("_AlertError");
                }
                if (TempData["OperationStatus"].ToString() == "Success")
                {
                    Html.RenderPartial("_AlertSuccess");
                }
            }
            <div class="profile-body margin-bottom-20">
                <div class="tab-v1">
                    <ul class="nav nav-justified nav-tabs">
                        <li><a data-toggle="tab" href="#addDocument">Añadir Documento</a></li>
                        <li><a data-toggle="tab" href="#allDocument">Todos los Documentos</a></li>
                    </ul>
                    <div class="tab-content">
                        @{ Html.RenderPartial("Documents/_AddDocument");}
                        @{ Html.RenderPartial("Documents/_AllDocuments");}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section cssPlugins
{
    <link href="~/resources/plugins/line-icons/line-icons.css" rel="stylesheet" />
    <link href="~/resources/plugins/sky-forms-pro/skyforms/css/sky-forms.css" rel="stylesheet" />
    <link href="~/resources/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css" rel="stylesheet" />
}
@section cssPageStyle
{
    <link href="~/resources/css/pages/profile.css" rel="stylesheet" />
}
@section PageScripts
{
    <script src="~/resources/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script src="~/resources/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
    <script src="~/resources/js/forms/reg.js"></script>
    <script src="~/resources/js/forms/checkout.js"></script>
    <script src="~/resources/js/plugins/datepicker.js"></script>
}
@section documentReady
{
    RegForm.initRegForm();
    Datepicker.initDatepicker();
    CheckoutForm.initCheckoutForm();
    Validation.initValidation();
}

@section ScriptsFunction
{
    <script>
        $(document).ready(function() {
            var form = $('#sky-form3'),
                formData = $.data(form[0]),
                settings = formData.validator.settings
                // Store existing event handlers in local variables
                ,
                oldErrorPlacement = settings.errorPlacement,
                oldSuccess = settings.success;

            settings.errorPlacement = function(label, element) {

                // Call old handler so it can update the HTML
                oldErrorPlacement(label, element);

                // Add Bootstrap classes to newly added elements
                label.parents('label').addClass('state-error');
                label.addClass('text-danger');

            };

            settings.success = function(label) {
                // Remove error class from <div class="form-group">, but don't worry about
                // validation error messages as the plugin is going to remove it anyway

                label.parents('label').removeClass('state-error');

                // Call old handler to do rest of the work
                oldSuccess(label);
            };
        });
    </script>
    <script language="javascript" type="text/javascript">
        function GetContenido(_subcategorieId) {
            var procemessage = "<option value='0'> Please wait...</option>";
            $("#idcontenido").html(procemessage).show();
            var url = "/Administration/GetContenidoBySubCategorie/";

            $.ajax({
                url: url,
                data: { subCategorie: _subcategorieId },
                cache: false,
                type: "POST",
                success: function(data) {
                    var markup = "<option value=''>Seleccionar Grupo</option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                    }
                    $("#idcontenido").html(markup).show();
                },
                error: function(reponse) {
                    alert("error : " + reponse);
                }
            });

        }
    </script>
    <script type="text/javascript">
        window.addEventListener("load", function() {
            document.getElementById("subcategorielist").onchange();
        }, false);
    </script>
}