@{
    ViewData["Title"] = "Inicio";
}
@section cssPlugins{
    <link href="~/plugins/layer-slider/layerslider/css/layerslider.css" rel="stylesheet" />
    <link href="~/plugins/layer-slider/layerslider/skins/fullwidthdark/skin.css" rel="stylesheet" />
    <link href="~/plugins/line-icons-pro/education/styles.css" rel="stylesheet" />
    <link href="~/plugins/nano-gallery/css/nanogallery.min.css" rel="stylesheet" />
    <link href="~/plugins/nano-gallery/css/themes/light/nanogallery_light.min.css" rel="stylesheet" />
}

<div id="layerslider" class="ls-fullwidthdark" style="width: 2000px; height: 700px; margin: 0 auto;">
    <div class="ls-slide" data-ls="slidedelay: 5000; transition2d: 1,5,15;">
        <img src="~/img/sliders/disenos.png" class="ls-bg" />
        <a href="#" class="ls-link"></a>
        <h1 class="ls-l"
            style="top: 50%; left: 40%; width: 50%; padding: 12px 20px; font-size: 500%; font-weight: bold; background: rgba(38, 38, 38, 0.6); color: #FFF">
            DISEÑO
        </h1>
        <h2 class="ls-l"
            style="top: 71%; left: 40%; width: 50%; padding: 12px 20px; font-size: 370%; background: rgba(38, 38, 38, 0.6); color: #FFF">
            Arquitectónicos, Vial, Hidráulicos, Eléctricos y Sanitarios.
        </h2>

    </div>
    <div class="ls-slide" data-ls="slidedelay: 5000; transition2d: 1,5,15;">
        <img src="~/img/sliders/estudioss.jpg" class="ls-bg" />
        <a href="#" class="ls-link"></a>
        <h1 class="ls-l"
            style="top: 50%; left: 40%; width: 50%; padding: 12px 20px; font-size: 500%; font-weight: bold; background: rgba(38, 38, 38, 0.6); color: #FFF">
            ESTUDIOS DE SUELO
        </h1>
        <h2 class="ls-l"
            style="top: 75%; left: 40%; width: 50%; padding: 12px 20px; font-size: 370%; background: rgba(38, 38, 38, 0.6); color: #FFF">
            Mística en la práctica del Estudio y Comportamiento de los Suelos y Materiales en República Dominicana.
        </h2>
    </div>
    <div class="ls-slide" data-ls="slidedelay: 5000; transition2d: 1,5,15;">
        <img src="~/img/sliders/agrimensuras.jpg" class="ls-bg" />
        <a href="#" class="ls-link"></a>
        <h1 class="ls-l"
            style="top: 50%; left: 40%; width: 50%; padding: 12px 20px; font-size: 500%; font-weight: bold; background: rgba(38, 38, 38, 0.6); color: #FFF">
            AGRIMENSURA
        </h1>
        <h2 class="ls-l"
            style="top: 71%; left: 40%; width: 50%; padding: 12px 20px; font-size: 370%; background: rgba(38, 38, 38, 0.6); color: #FFF">
            Levantamientos Topográficos y Parcelarios con métodos cinematecos (GPS).
        </h2>
    </div>
    <div class="ls-slide" data-ls="slidedelay: 5000; transition2d: 1,5,15;">
        <img src="~/img/sliders/ingenierias.jpg" class="ls-bg" />
        <a href="#" class="ls-link"></a>
        <h1 class="ls-l"
            style="top: 50%; left: 40%; width: 50%; padding: 12px 20px; font-size: 500%; font-weight: bold; background: rgba(38, 38, 38, 0.6); color: #FFF">
            INGENIERÍA ESTRUCTURAL
        </h1>
        <h2 class="ls-l"
            style="top: 75%; left: 40%; width: 50%; padding: 12px 20px; font-size: 370%; background: rgba(38, 38, 38, 0.6); color: #FFF">
            Aplicaciones con medios continuos manejada con prudencia y adecuación para estructuras de obras.
        </h2>
    </div>
    <div class="ls-slide" data-ls="slidedelay: 5000; transition2d: 1,5,15;">
        <img src="~/img/sliders/impactos.jpg" class="ls-bg" />
        <a href="#" class="ls-link"></a>
        <h1 class="ls-l"
            style="top: 50%; left: 40%; width: 50%; padding: 12px 20px; font-size: 500%; font-weight: bold; background: rgba(38, 38, 38, 0.6); color: #FFF">
            IMPACTO AMBIENTAL
        </h1>
        <h2 class="ls-l"
            style="top: 75%; left: 40%; width: 50%; padding: 12px 20px; font-size: 370%; background: rgba(38, 38, 38, 0.6); color: #FFF">
            Cuantificar y proponer las medidas mitigadoras y compensatorias ambientales y sociales.
        </h2>
    </div>
    <div class="ls-slide" data-ls="slidedelay: 5000; transition2d: 1,5,15;">
        <img src="~/img/sliders/presupuestoss.jpg" class="ls-bg" />
        <a href="#" class="ls-link"></a>
        <h1 class="ls-l"
            style="top: 50%; left: 40%; width: 50%; padding: 12px 20px; font-size: 500%; font-weight: bold; background: rgba(38, 38, 38, 0.6); color: #FFF">
            PRESUPUESTOS
        </h1>
        <h2 class="ls-l"
            style="top: 75%; left: 40%; width: 50%; padding: 12px 20px; font-size: 370%; background: rgba(38, 38, 38, 0.6); color: #FFF">
            Aplicación de software avanzado para la elaboración de Presupuestos de Obras en toda su dimensión...
        </h2>
    </div>
    <div class="ls-slide" data-ls="slidedelay: 5000; transition2d: 1,5,15;">
        <img src="~/img/sliders/planificacions.jpg" class="ls-bg" />
        <a href="#" class="ls-link"></a>
        <h1 class="ls-l"
            style="top: 50%; left: 40%; width: 50%; padding: 12px 20px; font-size: 500%; font-weight: bold; background: rgba(38, 38, 38, 0.6); color: #FFF">
            PLANIFICACIÓN
        </h1>
        <h2 class="ls-l"
            style="top: 75%; left: 40%; width: 50%; padding: 12px 20px; font-size: 370%; background: rgba(38, 38, 38, 0.6); color: #FFF">
            Aplicación efectiva de las diferentes alternativas para organizar, planificar y programar la ejecución de un proyecto...
        </h2>
    </div>
    <div class="ls-slide" data-ls="slidedelay: 5000; transition2d: 1,5,15;">
        <img src="~/img/sliders/evaluacions.jpg" class="ls-bg" />
        <a href="#" class="ls-link"></a>
        <h1 class="ls-l"
            style="top: 50%; left: 40%; width: 50%; padding: 12px 20px; font-size: 500%; font-weight: bold; background: rgba(38, 38, 38, 0.6); color: #FFF">
            EVALUACIÓN DE PROYECTOS
        </h1>
        <h2 class="ls-l"
            style="top: 75%; left: 40%; width: 50%; padding: 12px 20px; font-size: 370%; background: rgba(38, 38, 38, 0.6); color: #FFF">
            Evaluación por un equipo multidisciplinario de profesionales con capacidad de dar respuesta a los requerimientos solicitados...
        </h2>
    </div>
    <div class="ls-slide" data-ls="slidedelay: 5000; transition2d: 1,5,15;">
        <img src="~/img/sliders/presentacioness.jpg" class="ls-bg" />
        <a href="#" class="ls-link"></a>
        <h1 class="ls-l"
            style="top: 50%; left: 40%; width: 50%; padding: 12px 20px; font-size: 500%; font-weight: bold; background: rgba(38, 38, 38, 0.6); color: #FFF">
            PRESENTACIONES
        </h1>
        <h2 class="ls-l"
            style="top: 71%; left: 40%; width: 50%; padding: 12px 20px; font-size: 370%; background: rgba(38, 38, 38, 0.6); color: #FFF">
            Presente su proyecto de una manera moderna y efectiva...
        </h2>
    </div>
    <div class="ls-slide" data-ls="slidedelay: 5000; transition2d: 1,5,15;">
        <img src="~/img/sliders/construccions.jpg" class="ls-bg" />
        <a href="#" class="ls-link"></a>
        <h1 class="ls-l"
            style="top: 50%; left: 40%; width: 50%; padding: 12px 20px; font-size: 500%; font-weight: bold; background: rgba(38, 38, 38, 0.6); color: #FFF">
            CONSTRUCCIÓN
        </h1>
        <h2 class="ls-l"
            style="top: 71%; left: 40%; width: 50%; padding: 12px 20px; font-size: 370%; background: rgba(38, 38, 38, 0.6); color: #FFF">
            Deje en nuestras manos la construcción de su obra...
        </h2>
    </div>
    <div class="ls-slide" data-ls="slidedelay: 5000; transition2d: 1,5,15;">
        <img src="~/img/sliders/supervisions.jpg" class="ls-bg" />
        <a href="#" class="ls-link"></a>
        <h1 class="ls-l"
            style="top: 50%; left: 40%; width: 50%; padding: 12px 20px; font-size: 500%; font-weight: bold; background: rgba(38, 38, 38, 0.6); color: #FFF">
            SUPERVISIÓN
        </h1>
        <h2 class="ls-l"
            style="top: 75%; left: 40%; width: 50%; padding: 12px 20px; font-size: 370%; background: rgba(38, 38, 38, 0.6); color: #FFF">
            Gerencia de Supervisión de Proyectos bajo el mando de los más capacitados profesionales...
        </h2>
    </div>
</div>
<div class="content-md">
    <div class="container container-sm">
        <div class="row text-center margin-bottom-60">
            <div class="col-md-3 md-margin-bottom-50">
                <img alt="" src="~/img/icons/agrimensura.png" class="image-md margin-bottom-20">
                <h1 class="title-v3-md margin-bottom-10">Agrimensura</h1>
                <p>Cada punto del planeta tierra es una coordenada precisa, con ellos realizamos la topografía aplicando geomática.</p>
            </div>
            <div class="col-md-3 flat-service md-margin-bottom-50">
                <img alt="" src="~/img/icons/estudios.png" class="image-md margin-bottom-20">
                <h2 class="title-v3-md margin-bottom-10">Estudios del Suelo</h2>
                <p>Con la regulación de la Ley 108-05JI de Registro Inmobiliario, gestionamos Certificados de Titulos de Propiedad.</p>
            </div>
            <div class="col-md-3 flat-service">
                <img alt="" src="~/img/icons/diseno.png" class="image-md margin-bottom-20">
                <h2 class="title-v3-md margin-bottom-10">Diseño</h2>
                <p>Formulamos los estudios, diseños y planos de Obras de Construcción.</p>
            </div>
            <div class="col-md-3 md-margin-bottom-50">
                <img alt="" src="~/img/icons/ingenieria.png" class="image-md margin-bottom-20">
                <h1 class="title-v3-md margin-bottom-10">Ingenieria</h1>
                <p>Edificamos proyectos ajustados a su presupuesto y programación de obra con seguridad y calidad garantizada.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="headline">
                    <h2>Secciones</h2>
                </div>
                <div class="row category margin-bottom-20">
                    <div class="col-md-6 col-sm-6">
                        <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
                            <i class="icon-custom icon-sm rounded-x icon-bg-u"></i>
                            <div class="content-boxes-in-v3">
                                <h3>
                                    <a href="#">Diseño</a>
                                </h3>
                                <p>
                                    <a href="#">Ver mas...</a>
                                </p>
                            </div>
                        </div>
                        <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
                            <i class="icon-custom icon-sm rounded-x icon-bg-orange"></i>
                            <div class="content-boxes-in-v3">
                                <h3>
                                    <a href="#">Estudios del Suelo</a>
                                </h3>
                                <p>
                                    <a href="#">Ver mas...</a>
                                </p>
                            </div>
                        </div>
                        <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
                            <i class="icon-custom icon-sm rounded-x icon-bg-red"></i>
                            <div class="content-boxes-in-v3">
                                <h3>
                                    <a href="#">Agrimensura</a>
                                </h3>
                                <p>
                                    <a href="#">Ver mas...</a>
                                </p>
                            </div>
                        </div>
                        <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
                            <i class="icon-custom icon-sm rounded-x icon-bg-dark-blue"></i>
                            <div class="content-boxes-in-v3">
                                <h3>
                                    <a href="#">Ingeniería Estructural</a>
                                </h3>
                                <p>
                                    <a href="#">Ver mas...</a>
                                </p>
                            </div>
                        </div>
                        <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
                            <i class="icon-custom icon-sm rounded-x icon-bg-yellow"></i>
                            <div class="content-boxes-in-v3">
                                <h3>
                                    <a href="#">Presentaciones</a>
                                </h3>
                                <p>
                                    <a href="#">Ver mas...</a>
                                </p>
                            </div>
                        </div>
                        <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
                            <i class="icon-custom icon-sm rounded-x icon-bg-brown"></i>
                            <div class="content-boxes-in-v3">
                                <h3>
                                    <a href="#">Impacto Ambiental</a>
                                </h3>
                                <p>
                                    <a href="#">Ver mas...</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 md-margin-bottom-40">
                        <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
                            <i class="icon-custom icon-sm rounded-x icon-bg-sea"></i>
                            <div class="content-boxes-in-v3">
                                <h3>
                                    <a href="#">Supervisión</a>
                                </h3>
                                <p>
                                    <a href="#">Ver mas...</a>
                                </p>
                            </div>
                        </div>
                        <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
                            <i class="icon-custom icon-sm rounded-x icon-bg-blue"></i>
                            <div class="content-boxes-in-v3">
                                <h3>
                                    <a href="#">Presupuestos</a>
                                </h3>
                                <p>
                                    <a href="#">Ver mas...</a>
                                </p>
                            </div>
                        </div>
                        <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
                            <i class="icon-custom icon-sm rounded-x icon-bg-aqua"></i>
                            <div class="content-boxes-in-v3">
                                <h3>
                                    <a href="#">Planificación</a>
                                </h3>
                                <p>
                                    <a href="#">Ver mas...</a>
                                </p>
                            </div>
                        </div>
                        <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
                            <i class="icon-custom icon-sm rounded-x icon-bg-purple"></i>
                            <div class="content-boxes-in-v3">
                                <h3>
                                    <a href="#">Evaluación de Proyectos</a>
                                </h3>
                                <p>
                                    <a href="#">Ver mas...</a>
                                </p>
                            </div>
                        </div>
                        <div class="content-boxes-v3 margin-bottom-10 md-margin-bottom-20">
                            <i class="icon-custom icon-sm rounded-x icon-bg-green"></i>
                            <div class="content-boxes-in-v3">
                                <h3>
                                    <a href="#">Construcción</a>
                                </h3>
                                <p>
                                    <a href="#">Ver mas...</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="headline">
                    <h2>Al Instante Topodata</h2>
                </div>
                <div id="nanoGallery1">

                </div>
                <h3>@Html.ActionLink("Ver Galeria", "Photo", "Home")</h3>
            </div>
        </div>
    </div>
</div>

    @section PageScripts{
        <script src="~/plugins/layer-slider/layerslider/js/greensock.js"></script>
        <script src="~/plugins/layer-slider/layerslider/js/layerslider.transitions.js"></script>
        <script src="~/plugins/layer-slider/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
        <script src="~/plugins/nano-gallery/jquery.nanogallery.min.js"></script>
    }
    @section documentReady{

    }
    @section ScriptsFunction{
        <script type="text/javascript">
            // Running the code when the document is ready
            $(document).ready(function () {

                // Calling LayerSlider on the target element
                $('#layerslider').layerSlider({
                    thumbnailNavigation: 'hover',
                    startInViewport: false,
                    firstSlide: 'random',
                    twoWaySlideshow: true,
                    globalBGColor: 'black',
                    navStartStop: false


                    // Slider options goes here,
                    // please check the 'List of slider options' section in the documentation
                });
            });

        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#nanoGallery1").nanoGallery({
                    kind: 'flickr',
                    userID: '89639027@N07',
                    thumbnailHeight: 86,
                    thumbnailWidth: 86,
                    photoset: 'none',
                    theme: 'light',
                    paginationMaxLinesPerPage: 3,
                    thumbnailLabel: {
                        display: false,
                        displayDescription: false,
                        position: 'overImageOnBottom'
                    },

                });
            });
        </script>
    }
