@model List<Topodata2.Models.Home.OurTeam>
@{
    ViewData["Title"] = "Nuestro Equipo";
}
<div class="breadcrumbs-v3 img-v2 margin-bottom-60">
    <div class="container text-center">
        <p>Conoce a nuestro equipo</p>
        <h1>Profesionales Topodata</h1>
    </div><!--/end container-->
</div>
<div class="container">
    <div id="grid-container">
        @if (Model.Count > 0)
        {
            foreach (var ourteam in Model)
            {
                <div class="cbp-item">
                    <div class="cbp-item-wrapper">
                        <div title="@ourteam.Nombre" class="cbp-caption">
                            <img src="@ourteam.ImagePath" alt="" width="200" height="200" />
                        </div>
                        <a class="cbp-l-grid-team-name">
                            @ourteam.Nombre
                        </a>
                        <div class="cbp-l-grid-team-position">
                            @ourteam.Cargo
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <hr class="margin-bottom-60">
</div>

@section cssPlugins
{
    <link href="~/resources/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet"/>
}

@section PageScripts
{
    <script src="~/resources/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
}

@section ScriptsFunction
{
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('#grid-container').cubeportfolio({
                // options
                gridAdjustment: 'responsive',
                mediaQueries: [{ width: 1440, cols: 5 }, { width: 1024, cols: 4 }, { width: 768, cols: 3 }, { width: 480, cols: 2 }, { width: 320, cols: 1 }],
                gapHorizontal: 30,
                gapVertical: 30
            });
        });
    </script>
}
