@{
    ViewData["Title"] = "Fotos";
}

@section cssPlugins{
    <link href="~/resources/plugins/nano-gallery/css/nanogallery.min.css" rel="stylesheet"/>
    <link href="~/resources/plugins/nano-gallery/css/themes/light/nanogallery_light.min.css" rel="stylesheet" />
}
<div class="container container-sm">
    <div id="nanoGallery"></div>
</div>
@section PageScripts{
    <script src="~/resources/plugins/nano-gallery/jquery.nanogallery.min.js"></script>
}
@section ScriptsFunction{
    <script>
    jQuery("#nanoGallery").nanoGallery({
        kind: 'flickr',
        userID: '89639027@N07',

        // uncomment this line to display one specific album:
        // photoset:'72157594299597591',

        // uncomment this line to display full photostream (v5.0.0):
        photoset:'none',

       thumbnailWidth: 270,
    thumbnailHeight: 270,
    paginationMaxLinesPerPage: 5,
    theme: 'default',
        thumbnailLabel: {
            displayDescription: false,
            position: 'overImageOnBottom'
        },
        thumbnailHoverEffect:'labelSlideUp'
    });
</script>
}