
@{
    ViewBag.Title = "Profile";
}

<div class="container content profile">
    <div class="row">
        @{
            Html.RenderPartial("_ProfileLeftPanel");
        }
        <div class="col-md-9"></div>
    </div>
</div>

@section cssPlugins
{
    <link href="~/resources/plugins/line-icons/line-icons.css" rel="stylesheet"/>
    <link href="~/resources/plugins/sky-forms-pro/skyforms/css/sky-forms.css" rel="stylesheet"/>
    <link href="~/resources/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css" rel="stylesheet"/>
}
@section cssPageStyle
{
    <link href="~/resources/css/pages/profile.css" rel="stylesheet"/>
}
@section PageScripts
{
    <script src="~/resources/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js"></script>
    <script src="~/resources/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js"></script>
    <script src="~/resources/js/forms/reg.js"></script>
    <script src="~/resources/js/forms/checkout.js"></script>
    <script src="~/resources/js/plugins/datepicker.js"></script>
}
@section documentReady
{
    RegForm.initRegForm();
    Datepicker.initDatepicker();
    CheckoutForm.initCheckoutForm();
}
