@using Topodata2.Models.Home
@using Topodata2.Models.Service
@{
    ViewData["Title"] = "Sobre Topodata";
}


<div class="breadcrumbs-v3 img-v1 text-center">
    <div class="container">
        <h1>Topodata</h1>
        <p>Tecnologia en Ingenieria</p>
    </div>
</div>
<div class="container content-sm">
    <div class="headline-center margin-bottom-60">
        <h2>TOPODATA</h2>
        <div class="text-justify">
            <p><strong>TOPODATA, Tecnología en Ingeniería…!!!</strong> Novedoso proceso de producción en línea con tecnología de punta, que de manera efectiva, oportuna y en un mismo lugar, logra los documentos y materiales descriptivos que sustentan las bases técnicas y legales para el desarrollo de los proyectos de construcción de obras o sistemas de servicios.
            </p>
            <p>El proceso inicia con los estudios técnicos fundamentales, investigaciones, análisis y diagnósticos; continuando con las recomendaciones, soluciones, aplicaciones factibles, levantamientos topográficos, diseños, cálculos, estimaciones de costos, programación de obra y finalmente, la presentación con animación digital para lograr una dimensión virtual del futuro proyecto.</p>
            <p>Esta producción de documentos y materiales descriptivos de un proyecto, realizado con un sistema de servicios integrados, abarca las obras de construcción de infraestructura, edificaciones de viviendas, comerciales e industriales, vialidad, transporte, sistemas de agua potable, sistema de alcantarillado, sistemas hidráulicos, sistemas eléctricos y energéticos; cuyos resultados documentados deberán ser sometidos y gestionado ante las instituciones reguladoras del sector construcción de Republica Dominicana y obtener sus autorizaciones y permisos legales correspondientes.</p>
            <p>Para quienes solo requieran una parte del servicio de elaboración de documentos de sus proyectos, disponemos de ofertas que van desde alquiler de equipos electrónicos digitales y ordenadores de alto rendimiento, hasta servicio de digitación, compilación, manejo de archivos electrónicos, impresiones, ploteos, entre otros.</p>
            <p>Finalmente, nuestro menú de servicios con la elaboración de propuestas de licitaciones y concursos, la fiscalización y supervisión de obras, las auditorias técnicas, los peritajes y experticias, tanto para el sector público como privado, completan la gama de producción en línea de los documentos necesarios del propietario y del proponente.</p>
            <strong>
                <p>Propietarios y proponentes obtendran en TOPODATA:</p>
                <ul>
                    <li>Suplir las necesidades de servicios tecnologicos de sus proyectos.</li>
                    <li>Las respuestas a sus preguntas para localizar un lugar seguro, eficiente y oportuno.</li>
                    <li>La seguridad de encontrar profesionales dedicados al servicio personalizado y discreto.</li>
                </ul>
            </strong>
        </div>
    </div>
    @{Html.RenderPartial("About/_Sectores", ServiceManager.GetAllCategories());}
</div>
@{Html.RenderPartial("About/_TextHome", HomeManager.GetLastHomeText());}
<div class="container content-sm">
    <div class="headline-center margin-bottom-60">
        <h2>Introduccion</h2>
        <p>
            Conoce quienes somos y vive la experiencia Topodata
        </p>
    </div>
    <div class="text-center">
        <iframe width="853" height="480" src="https://www.youtube.com/embed/uMC5VESsRG0" style="border:0" allowfullscreen></iframe>
    </div>


</div>

@section cssPlugins{
    <link href="~/resources/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet" />

}
@section PageScripts{
    <script src="~/resources/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
}