@model Topodata2.Models.Home.HomeSliderImageSeasonViewModel
<h2 class="heading-md">Añadir Imagen Temporada</h2>
<br/>
    @using (Html.BeginForm("ImageSeason", "Administration", FormMethod.Post, new {@class = "sky-form", @id = "addImageSeasonForm", enctype = "multipart/form-data"}))
    {
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(m => m.ImageUpload)</dt>
            <dd>
                <section>
                    <label class="label">Imagen</label>
                    <label class="input input-file">
                        <div class="button">
                            @Html.TextBoxFor(m => m.ImageUpload, new {@id = "file", @type = "file", @onchange = "this.parentNode.nextElementSibling.value = this.value"})
                            Seleccionar
                        </div>
                        <input readonly type="text">
                        @Html.ValidationMessageFor(m => m.ImageUpload)
                    </label>
                </section>
            </dd>
        </dl>
        <br>
        <button id="submitButton" class="btn-u" type="submit">Guardar cambios</button>
    }