@using Topodata2.resources.Strings
<div class="alert alert-danger fade in alert-dismissable">
    <button class="close" type="button" data-dismiss="alert" aria-hidden="True">x</button>
    <strong>Error!</strong>
    @{
        if (TempData["OperationMessage"] != null)
        {
            Html.Encode(TempData["OperationMessage"]);
        }
        else
        {
            Html.Encode(Messages.ErrorRealizandoOperacion);
        }
    }
</div>