@model Topodata2.Models.SubscribeViewModel
@using (Html.BeginForm("Subscribe", "User", null, FormMethod.Post, new {@class = "footer-subsribe"}))
{

    <div class="input-group">
        @Html.EditorFor(m => m.Email, new {htmlAttributes = new {@class = "form-control", @placeholder = "Coloque su Email Aqui!"}})

        <span class="input-group-btn">
            <button class="btn btn-u" type="submit">Suscribirse</button>
        </span>
    </div>
    @Html.ValidationMessageFor(m => m.Email, String.Empty, new {@class = "text-danger"})
}
